body {
    background-color: var(--color-gray-background);
}

/* ========== ANIMATION ========== */

/* Animation Fade-In Up */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

/* Titres sections */
.section-title {
    font-weight: bold;
    color: var(--color-site-item);
    margin-bottom: 0.3em;
    text-align: left;
}

.title-separator {
    border: 0;
    border-top: 5px solid var(--color-site-item);
    width: 100px;
    margin-left: 0;
    opacity: 100;
    border-radius: 8px;
    margin-bottom: 2rem;
}


.stat-item i{
    color: var(--color-site-item);
    margin-top: 10px;
}

.stat-item {
    background-color: var(--color-gray-background);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--color-gray-shadow);
    border: 1px solid var(--color-gray-border);
    transition: transform 0.3s ease;
    cursor: default;
    flex: 1 1 30%;
    min-width: 250px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-item:nth-child(-n+2) {
    margin-right: 20px;
}

.stat-item:hover {
    transform: translateY(-3px);
}

.stat-item h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-site-item);
}

.chart-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    max-height: 600px;
}

.stat-item p {
    font-size: 1.1rem;
    color: var(--color-text);
}

/* Bouton personnalisé */
.btn-custom {
    display: inline-block;
    font-weight: bold;
    background: var(--color-site-item);
    color: var(--color-gray-background);
    border-radius: 8px;
    transition: all 0.3s ease;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;
}

.btn-custom:hover {
    background: var(--color-site-item-hover);
    transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 991px) {
    .d-flex.justify-content-between > .stat-item {
        margin-bottom: 20px !important;
    }

    .stat-item:nth-child(-n+2) {
        margin-right: 0px;
    }
}

