.customNavbar {  /* Hauteur de la navbar : 62px; */
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--color-gray-border);
    box-shadow: 0 4px 6px var(--color-gray-shadow);
    background-color: var(--color-gray-background);
}

.customNavbar .navbar-brand img {
    height: 35px;
    margin-left: 25px;
}

.customNavbar .navbar-toggler {
    background-color: var(--color-gray-background);
    border: 1px solid var(--color-gray-border);
    color: var(--color-text);
}

.customNavbar .navbar-toggler:focus {
    box-shadow: 0 4px 6px var(--color-gray-shadow);
}

.customNavbar .navbar-nav {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 13px;
}

.customNavbar a {
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.3s ease;
}

.customNavbar a:hover {
    color: var(--color-text-hover);
}

.customNavbar .navbar-nav .custom-nav-link.active {
    font-weight: bold;
    color: var(--color-site-item);
}
