:root {
    --color-gray-background: #f9f9f9;

    --color-gray-border: #202020;
    --color-gray-shadow: #20202026;

    --color-text: black;
    --color-text-hover: rgba(0, 0, 0, 0.50);

    --color-site-item: #b7852e;
    --color-site-item-hover: #b7852ebf;
}
