/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup-content {
    background: var(--color-gray-background);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.3s ease;
    border: 1px solid var(--color-gray-border);
}

.popup-content .popup-para {
    margin-bottom: 20px;
}

.popup.show {
    opacity: 1;
    pointer-events: all;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#closePopup {
    display: inline-block;
    background: var(--color-site-item);
    color: var(--color-gray-background);
    padding: 5px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.3s ease;
    border: none;
    margin-top: 10px;
}

#closePopup:hover {
    background: var(--color-site-item-hover);
    transform: translateY(-3px);
}
