/* ----------- GLOBAL ----------- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    background: var(--color-gray-background);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px 0;
}

.link a {
    margin-right: 5px;
}

.link {
    border-bottom: 2px solid var(--color-site-item);
    padding: 1rem 0;
}

.link .active {
    background-color: var(--color-site-item) !important;
    color: var(--color-gray-background) !important;
    border: none;
    cursor: default;
    border-radius: 4px;
}

/* ----------- ARTICLE ----------- */

.article-wrapper {
    padding: 2rem;
}

.article-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-text);
    border-bottom: 2px solid var(--color-site-item);
    padding-bottom: 0.5rem;
    text-align: start;
}

.article-content {
    font-size: 1.1rem;
    color: var(--color-text);
    margin-top: 15px;
}

.article-meta {
    font-size: 0.95rem;
    color: var(--color-text);
    border-top: 2px solid var(--color-site-item);
    padding-top: 1rem;
}

.article-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

/* ----------- IMAGE (AFFICHAGE) ----------- */

.article-image-desktop img,
.article-image-mobile img {
    max-height: 450px;
    object-fit: cover;
    border-radius: 15px;
}

.article-image-desktop {
    top: 100px;
}

.img-mobile {
    height: 225px;
}

.image-wrapper-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-image-view {
    max-height: 450px;
    object-fit: cover;
    border-radius: 15px;
    max-width: 100%;
    display: block;
}

/* ----------- IMAGE (ÉDITION) ----------- */

.editable-image {
    max-height: 450px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    max-width: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper-edit {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-gray-background);
    border: 1px solid var(--color-gray-border);
    border-radius: 8px;
    padding: 3px 7px;
    cursor: pointer;
    z-index: 10;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.edit-icon:hover {
    background: black;
}

.edit-icon:hover i {
    color: var(--color-gray-background);
}

.edit-icon i {
    font-size: 16px;
    color: black;
}

/* ----------- ÉDITEUR (QUILL) ----------- */

.editorQuill-create {
    min-height: 360px;
    display: flex;
    flex-direction: column;
}

.ql-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ql-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: text;
}

input#title {
    border-radius: 0 !important;
    border: 1px solid var(--color-site-item);
    box-shadow: none;
}

/* ----------- MEDIA QUERIES ----------- */

@media screen and (min-width: 768px) {
    .article-container {
        padding-right: 100px;
    }

    .img-mobile {
        height: 225px;
    }
}

@media screen and (max-width: 991px) {
    .article-header,
    h1 {
        margin: 0;
    }

    .article-meta {
        border-bottom: 2px solid var(--color-site-item);
    }
}

@media screen and (max-width: 768px) {
    .article-title {
        font-size: 1.75rem;
    }
}
