body {
    background-color: var(--color-gray-background);
}

.section-title {
    font-weight: bold;
    color: var(--color-text);
}

.title-separator {
    border: 2px solid var(--color-tomato-item);
    border-radius: 2px;
    width: 100px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    opacity: 100;
}